body {
    font-family: Cambria;
    display: flex;
    height: 100vh;
}

.main-content {
    flex: 0 1 75%;
    text-align: center;
}

.sidebar {
    flex: 0 1 25%;
    background: #808080;
    text-align: center;
}

#editor-panel {
    flex: 1;
}

    #editor-panel h2 {
        margin-top: 0;
    }

#editor {
    width: 800px;
    height: 600px;
    border-radius: 8px;
    border: 2px dashed #555;
    position: relative;
    background: #808080;
    overflow: hidden;
}

.block {
    position: absolute;
}

    .block.type-block {
        width: 100px;
        height: 100px;
        background: #070707;
    }

    .block.type-enemy {
        width: 80px;
        height: 80px;
        background: #e63946;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

    .block.type-catapult {
        width: 80px;
        height: 80px;
        background: #ffb703;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    }

    .block.type-bird {
        width: 60px;
        height: 60px;
        background: #2a9d8f;
        border-radius: 50%;
    }

    .block.type-support {
        width: 20px;
        height: 100px;
        background: #070707;
    }
